<form method="post" action="{{ path('person_delete', {'id': person.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
    <button type="submit">Delete</button>
</form>