{# templates/person/new.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>New Person</title>
    </head>
    <body>
        <h1>New Person</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Save</button>
        {{ form_end(form) }}
    </body>
</html>